@include keyframes(h21px4vw) {
  0% {
    height: 0;
  }
  100% {
    height: calc(21px + 4vw);
  }
}

@include keyframes(opacity05) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.homeBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #15222d;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/home.jpg) bottom right no-repeat;
    background-size: cover;
    opacity: 0;
    @include animation(opacity05, 1.5s, ease-in, 4s, 1, forwards);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 0;
    background: $linear-gradient;
    @include animation(h21px4vw, 2s, $cubic-bezier-j, 5.4s, 1, forwards);
  }

  .jarText {
    position: relative;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    width: 70vw;
    z-index: 1;

    h2 {
      display: inline-block;
      line-height: 0;
    }

    h2 svg {
      width: 33vw;
    }
  }

  .pText {
    margin-top: -6rem;
    display: inline-block;
    overflow: hidden;

    p {
      @include transform($y100);
      @include animation(y100, 1.5s, $cubic-bezier-j, 4.3s, 1, forwards);

      padding-left: calc(1.1rem + 0.8vw);
      font-family: $font-family-KoPub;
      font-size: calc(0.42rem + 0.4vw);
      line-height: calc(13px + 0.8vw);
      color: #a3adb9;
    }

    .strong {
      font-family: $font-family-trump;
      color: #fff;
      font-size: 1.4rem;
      letter-spacing: 2px;
    }
  }

  .portfolioNumber {
    @include transform(rotate(90deg) $x100);

    position: absolute;
    top: 170px;
    right: 74px;
    width: calc(100vh - 220px);
    display: flex;
    justify-content: space-between;
    font-family: $font-family-trump;
    font-size: calc(0.42rem + 0.42vw);
    color: #fff;
    letter-spacing: 2px;
    box-sizing: border-box;
    transform-origin: top right;
    overflow: hidden;

    li {
      @include transform($y100);
      @include animation(y100, 1.5s, $cubic-bezier-j, 4.8s, 1, forwards);
    }
  }

  .update {
    position: absolute;
    bottom: 50px;
    left: 50px;
    line-height: 0;
    overflow: hidden;

    span {
      @include transform($y100);
      @include animation(y100, 1.5s, $cubic-bezier-j, 4.8s, 1, forwards);

      display: inline-block;
      font-family: $font-family-trump;
    }

    span:nth-child(1) {
      font-size: calc(0.35rem + 0.35vw);
      line-height: calc(0.6rem + 0.35vw);
      letter-spacing: 1.4px;
      color: #a3adb9;
    }

    span:nth-child(2) {
      font-size: calc(0.42rem + 0.42vw);
      line-height: calc(0.6rem + 0.42vw);
      letter-spacing: 2px;
      color: #fff;
    }
  }

  /* SVG 애니메이션 */
  #svg {
    path {
      stroke-dasharray: 1372;
      stroke-dashoffset: 1372;
      fill-opacity: 0;
      stroke-width: 1.3px;
      stroke: #ff1f44;
      stroke-linecap: round;
    }
  }
}

/* 미디어쿼리 */
@include tablet-large {
  .homeBlock {
    .jarText {
      margin-top: -4vh;
      width: 65vw;
      flex-direction: column;

      h2 svg {
        width: 50vw;
      }

      .pText {
        margin-top: 3rem;
      }
    }
  }
}
