@import "./../../sass/utils/_mixins";
@import "./../../sass/utils/_variables";

@include keyframes(height5vw) {
  0% {
    height: 0;
  }
  100% {
    height: calc(21px + 4vw);
  }
}

@include keyframes(opacity05) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@include keyframes(y100) {
  0% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0%, 0px);
  }
}

@include keyframes(x-100) {
  0% {
    transform: translate3d(-100%, 0px, 0px);
  }
  100% {
    transform: translate3d(0%, 0%, 0px);
  }
}

.homeBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #15222d;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/home.jpg) bottom right no-repeat;
    background-size: cover;
    opacity: 0;
    animation: 1.5s ease-in forwards 4s opacity05;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 0;
    background: linear-gradient(180deg, #ff2f00, #ed1931, #fd0c68, #cb018f);
    @include animation(height5vw, 2s, $cubic-bezier-j, 5.4s, 1, forwards);
  }
  .textWrap {
    position: relative;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    flex-direction: unset;
    width: 70vw;
    z-index: 1;
    h2 {
      display: inline-block;
      line-height: 0;
      svg {
        width: 33vw;
      }
    }
    .pTxt {
      margin-top: -6rem;
      display: inline-block;
      overflow: hidden;
      p {
        padding-left: calc(1.1rem + 0.8vw);
        font-family: "KoPub Batang", serif;
        font-size: calc(0.42rem + 0.4vw);
        line-height: calc(13px + 0.8vw);
        color: #a3adb9;
        opacity: 0;
        transform: translate3d(0px, 100%, 0px);
        @include animation(y100, 1.5s, $cubic-bezier-j, 4.3s, 1, forwards);

        .strong {
          font-family: trump-gothic-pro;
          color: #fff;
          font-size: 1.4rem;
          letter-spacing: 2px;
        }
      }
    }
  }
  ul {
    position: absolute;
    top: 170px;
    right: 74px;
    width: calc(100vh - 220px);
    display: flex;
    justify-content: space-between;
    font-family: trump-gothic-pro;
    font-size: calc(0.42rem + 0.42vw);
    color: #fff;
    letter-spacing: 2px;
    box-sizing: border-box;
    transform-origin: top right;
    transform: rotate(90deg) translate3d(100%, 0, 0);
    overflow: hidden;
    li {
      transform: translate3d(0px, 100%, 0px);
      @include animation(y100, 1.5s, $cubic-bezier-j, 4.8s, 1, forwards);
    }
  }
  .update {
    position: absolute;
    bottom: 50px;
    left: 50px;
    line-height: 0;
    overflow: hidden;
    span {
      display: inline-block;
      font-family: trump-gothic-pro;
      transform: translate3d(0px, 100%, 0px);
      @include animation(y100, 1.5s, $cubic-bezier-j, 4.8s, 1, forwards);
      &:nth-child(1) {
        font-size: calc(0.35rem + 0.35vw);
        line-height: calc(0.6rem + 0.35vw);
        letter-spacing: 1.4px;
        color: #a3adb9;
      }
      &:nth-child(2) {
        font-size: calc(0.42rem + 0.42vw);
        line-height: calc(0.6rem + 0.42vw);
        letter-spacing: 2px;
        color: #fff;
      }
    }
  }

  /* SVG 애니메이션 */
  #svg {
    path {
      stroke-dasharray: 1372;
      stroke-dashoffset: 1372;
      fill-opacity: 0;
      stroke-width: 1.3px;
      stroke: #ff1f44;
      stroke-linecap: round;
    }
  }
}

@include tablet-large {
  .homeBlock {
    .textWrap {
      margin-top: -4vh;
      width: 65vw;
      flex-direction: column;
      h2 {
        svg {
          width: 50vw;
        }
      }
      .pTxt {
        margin-top: 3rem;
      }
    }
  }
}
