.menuText {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  overflow: hidden;

  ul {
    @include transform($translateX-m-100);

    opacity: 0;

    li {
      position: relative;
      display: inline;
      font-family: $font-family-trump;
      color: #c8c9b9;
      font-size: 1.125rem;
      line-height: 2.5rem;
      letter-spacing: 0.5px;
    }

    li span {
      padding: 0 0.67rem;
    }
  }
}

/* 메뉴 클릭시 */
#active {
  .menuText {
    ul {
      @include transform($translateX-0);
      @include transition(all, 1.1s, $cubic-bezier-j, 1.1s);

      opacity: 1;
    }
  }
}

/* 미디어쿼리 */
@include max-width-1280 {
  .menuText {
    margin-bottom: 7vh;
    padding-left: 0;
    height: auto;

    ul li {
      font-size: 1.5rem;
      letter-spacing: 0.5px;
    }
  }
}
