@import "base/_reset";

.page {
  position: relative;
  margin-bottom: 100vh;
  background: #fff;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 300%;
    background: url(/images/grain.png);
    background-size: 396px;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    animation: 0.51s grain steps(1, start) 0s infinite;
    opacity: 0.3;
  }
}

:not(.not).page {
  @include animation(fadeIn, 0.5s, ease-in-out, 0s, 1, forwards);

  opacity: 0;
}

.page.portfolios {
  .pageTitle {
    background: #f1f1f1;
    > div {
      color: #222;
    }
  }
}

.page.notFound {
  .pageTitle {
    background: #ebe4f1;
  }
}

.page.design {
  background: #0b0b0c;
  overflow: hidden;

  .pageTitle {
    background: none;
  }

  .pageTitle div {
    h3 {
      color: #c8c9b9;
    }

    h2 {
      color: #c8c9b9;
    }
  }
}

.wrap {
  margin: 0 auto;
  padding: 0 calc(0.868em + 1.7vw);
  max-width: 1600px;
  font-size: 16px;
  box-sizing: border-box;
}

.fadeOut {
  .page,
  .footer {
    opacity: 1;
    @include animation(fadeOut, 0.5s, ease-in-out, 0s, 1, forwards);
  }

  :not(.over).footer {
    opacity: 0;
    animation: none;
  }
}

.writeButtonArea {
  position: relative;
  overflow: hidden;
  z-index: 1;

  a {
    padding: 0.3rem;
    float: right;
    font-size: 16px;
    line-height: 1.5em;
  }
}

/* 미디어쿼리 */
@media screen and (max-width: 1024px) {
  .writeButtonArea a {
    font-size: 14px;
  }
}
