// Font Face
@mixin font-face($font-family-name, $file) {
  $filepath: "/fonts/" + $file;
  @font-face {
    font-family: "#{$font-family-name}";
    src: url($filepath + ".woff2") format("woff2"),
      url($filepath + ".woff") format("woff"),
      url($filepath + ".ttf") format("truetype");
  }
}

// Media Query
$max-width-1600: 1600px;
$max-width-1440: 1440px;
$max-width-1280: 1280px;
$max-width-1024: 1024px;
$max-width-768: 768px;
$max-width-640: 640px;
$max-width-480: 480px;
$max-width-375: 375px;

@mixin max-width-1600 {
  @media screen and (max-width: #{$max-width-1600}) {
    @content;
  }
}

@mixin max-width-1440 {
  @media screen and (max-width: #{$max-width-1440}) {
    @content;
  }
}

@mixin max-width-1280 {
  @media screen and (max-width: #{$max-width-1280}) {
    @content;
  }
}

@mixin max-width-1024 {
  @media screen and (max-width: #{$max-width-1024}) {
    @content;
  }
}

@mixin max-width-768 {
  @media screen and (max-width: #{$max-width-768}) {
    @content;
  }
}

@mixin max-width-640 {
  @media screen and (max-width: #{$max-width-640}) {
    @content;
  }
}

@mixin max-width-480 {
  @media screen and (max-width: #{$max-width-480}) {
    @content;
  }
}

@mixin max-width-375 {
  @media screen and (max-width: #{$max-width-375}) {
    @content;
  }
}

// Prefix
@mixin prefix($name, $content...) {
  @each $prefix in -webkit-, -moz-, -o-, "" {
    #{$prefix}$name: $content;
  }
}

// Transition
@mixin transition($property, $duration, $timing, $delay) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

// Transform
@mixin transform($transform...) {
  @include prefix(transform, $transform);
}

// Keyframes
@mixin keyframes($animation_name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

// Animation
@mixin animation(
  $name,
  $duration,
  $timing-function,
  $delay,
  $iteration-count,
  $fill-mode
) {
  @include prefix(animation-name, $name);
  @include prefix(animation-duration, $duration);
  @include prefix(animation-timing-function, $timing-function);
  @include prefix(animation-delay, $delay);
  @include prefix(animation-iteration-count, $iteration-count);
  @include prefix(animation-fill-mode, $fill-mode);
}
