// Typography
$font-family-goku: "goku";
$font-family-KoPub: "KoPub Batang", serif;
$font-family-Roboto: "Roboto";
$font-family-trump: "trump-gothic-pro";
$base-font-size: 16px;
$base-line-height: 1.5em;

// Colors
$base-font-color: #373646;

// Cubic Bezier
$cubic-bezier-j: cubic-bezier(0.165, 0.84, 0.44, 1);
$cubic-bezier-m: cubic-bezier(0.16, 1.08, 0.38, 0.98);
$cubic-bezier-h: cubic-bezier(0.2, 0.9, 0.1, 1);
$cubic-bezier-r: cubic-bezier(0.76, 0, 0.3, 1);

// translate3d
$translateX-0: translateX(0);
$translateX-100: translateX(100%);
$translateX-110: translateX(110%);
$translateX-m-100: translateX(-100%);
$translateY-0: translateY(0);
$translateY-20: translateY(20%);
$translateY-100: translateY(100%);
$translateY-105: translateY(105%);
$translateY-110: translateY(110%);
$translateY-120: translateY(120%);
$translateY-m-100: translateY(-100%);
$translateY-m-105: translateY(-105%);

// Linear Gradient
$linear-gradient: linear-gradient(180deg, #ff2f00, #ed1931, #fd0c68, #cb018f);
