.admin {
  .pageTitle {
    background: #ebe1d8;

    > div {
      color: #222;
    }
  }

  .adminFromBlock {
    position: absolute;
    top: 70%;
    left: 0;
    padding: 5rem 0;
    width: 100%;
    text-align: center;
    background: unset;
    z-index: 1;

    input {
      margin-right: 1rem;
      padding: 8px;
      font-family: $font-family-KoPub;
      font-size: 13px;
      line-height: 1.2em;
      border: 1px solid #525252;
      outline: none;
      background: none;
    }
  }

  /* 미디어쿼리 */
  @include max-width-1024 {
    .adminFromBlock input {
      padding: 7px;
      font-size: 12px;
      line-height: 1.1em;
    }
  }
}
