@font-face {
  font-family: "goku";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Goku.woff2) format("woff2"),
    url(/fonts/Goku.woff) format("woff"),
    url(/fonts/Goku.ttf) format("truetype");
}
@font-face {
  font-family: "KoPub Batang";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/KoPubBatang-Regular.woff2) format("woff2"),
    url(/fonts/KoPubBatang-Regular.woff) format("woff"),
    url(/fonts/KoPubBatang-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Roboto-Regular.woff2) format("woff2"),
    url(/fonts/Roboto-Regular.woff) format("woff"),
    url(/fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "trump-gothic-pro";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/TrumpGothicPro.woff2) format("woff2"),
    url(/fonts/TrumpGothicPro.woff) format("woff"),
    url(/fonts/TrumpGothicPro.ttf) format("truetype");
}
@font-face {
  font-family: "LibreBarcode128Text-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/LibreBarcode128Text-Regular.woff2) format("woff2"),
    url(/fonts/LibreBarcode128Text-Regular.woff) format("woff"),
    url(/fonts/LibreBarcode128Text-Regular.ttf) format("truetype");
}

html {
  font-size: 16px;
}
body {
  font-family: "goku", "KoPub Batang", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 1.5em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
}
* {
  box-sizing: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
button,
p,
ul,
ol,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: "goku", "KoPub Batang";
}
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #222;
}
img {
  border: 0;
  max-width: 100%;
}
address,
em {
  font-style: normal;
}

#root {
}

$ease-in-out_1s: all 1s ease-in-out;
.ease-in-out_1s {
  -webkit-transition: $ease-in-out_1s;
  -moz-transition: $ease-in-out_1s;
  -o-transition: $ease-in-out_1s;
  transition: $ease-in-out_1s;
}

$ease-in-out_05s: all 0.5s ease-in-out;
.ease-in-out_05s {
  -webkit-transition: $ease-in-out_05s;
  -moz-transition: $ease-in-out_05s;
  -o-transition: $ease-in-out_05s;
  transition: $ease-in-out_05s;
}

$ease-in-out_03s: all 0.3s ease-in-out;
.ease-in-out_03s {
  -webkit-transition: $ease-in-out_03s;
  -moz-transition: $ease-in-out_03s;
  -o-transition: $ease-in-out_03s;
  transition: $ease-in-out_03s;
}

$ease-in-out_02s: all 0.2s ease-in-out;
.ease-in-out_02s {
  -webkit-transition: $ease-in-out_03s;
  -moz-transition: $ease-in-out_03s;
  -o-transition: $ease-in-out_03s;
  transition: $ease-in-out_03s;
}

$translate1: translate(0, -100%);
.translate1 {
  -webkit-transform: $translate1;
  -moz-transform: $translate1;
  -ms-transform: $translate1;
  transform: $translate1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grain {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-200px, 0, 0);
  }
  50% {
    transform: translate3d(-200px, -200px, 0);
  }
  75% {
    transform: translate3d(0, -200px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.page {
  position: relative;
  margin-bottom: 100vh;
  z-index: 1;
  &.design {
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0b0b0c;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 300%;
      height: 300%;
      background: url(/images/grain.png);
      background-size: 396px;
      transform-style: preserve-3d;
      transform: translate3d(0, 0, 0);
      animation: 0.51s grain steps(1, start) infinite;
      opacity: 0.3;
    }
    .pageTitle {
      background: none;
      z-index: 1;
      div {
        background: none;
        h3 {
          color: #c8c9b9;
        }
        h2 {
          color: #c8c9b9;
        }
      }
    }
  }
}

:not(.not).page {
  opacity: 0;
  animation: 0.5s ease-in-out forwards fadein;
}

.footer {
  opacity: 0;
  animation: 0.5s ease-in-out forwards 0.5s fadein;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  .page,
  .footer {
    opacity: 1;
    animation: 0.5s ease-in-out forwards fadeOut;
  }
}
