@font-face {
  font-family: "goku";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Goku.eot);
  src: url(/fonts/Goku.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Goku.woff2) format("woff2"), url(/fonts/Goku.woff) format("woff"),
    url(/fonts/Goku.ttf) format("truetype");
}
@font-face {
  font-family: "KoPub Batang";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/KoPubBatang-Regular.eot);
  src: url(/fonts/KoPubBatang-Regular?#iefix) format("embedded-opentype"),
    url(/fonts/KoPubBatang-Regular.woff2) format("woff2"),
    url(/fonts/KoPubBatang-Regular.woff) format("woff"),
    url(/fonts/KoPubBatang-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Roboto-Regular.eot);
  src: url(/fonts/Roboto-Regular?#iefix) format("embedded-opentype"),
    url(/fonts/Roboto-Regular.woff2) format("woff2"),
    url(/fonts/Roboto-Regular.woff) format("woff"),
    url(/fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "trump-gothic-pro";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/TrumpGothicPro.eot);
  src: url(/fonts/TrumpGothicPro?#iefix) format("embedded-opentype"),
    url(/fonts/TrumpGothicPro.woff2) format("woff2"),
    url(/fonts/TrumpGothicPro.woff) format("woff"),
    url(/fonts/TrumpGothicPro.ttf) format("truetype");
}

html {
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}
body {
  min-height: 100%;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 1.5em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
}
* {
  box-sizing: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
button,
p,
ul,
ol,
input,
textarea {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #222;
}
img {
  border: 0;
  max-width: 100%;
}
address,
em {
  font-style: normal;
}

#root {
  min-height: 100%;
}
