@font-face {
  font-family: "goku";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Goku.woff2) format("woff2"),
    url(/fonts/Goku.woff) format("woff"),
    url(/fonts/Goku.ttf) format("truetype");
}
@font-face {
  font-family: "KoPub Batang";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/KoPubBatang-Regular.woff2) format("woff2"),
    url(/fonts/KoPubBatang-Regular.woff) format("woff"),
    url(/fonts/KoPubBatang-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Roboto-Regular.woff2) format("woff2"),
    url(/fonts/Roboto-Regular.woff) format("woff"),
    url(/fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "trump-gothic-pro";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/TrumpGothicPro.woff2) format("woff2"),
    url(/fonts/TrumpGothicPro.woff) format("woff"),
    url(/fonts/TrumpGothicPro.ttf) format("truetype");
}
@font-face {
  font-family: "LibreBarcode128Text-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/LibreBarcode128Text-Regular.woff2) format("woff2"),
    url(/fonts/LibreBarcode128Text-Regular.woff) format("woff"),
    url(/fonts/LibreBarcode128Text-Regular.ttf) format("truetype");
}

html {
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 1.5em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
}
* {
  box-sizing: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
button,
p,
ul,
ol,
input,
textarea {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #222;
}
img {
  border: 0;
  max-width: 100%;
}
address,
em {
  font-style: normal;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.ease-in-out_1s {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.ease-in-out_03s {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ease-in-out_02s {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.translate1 {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
