@include keyframes(appear) {
  0% {
    @include transform($translateX-100);
    opacity: 0;
  }
  100% {
    @include transform($translateX-0);
    opacity: 1;
  }
}

@include keyframes(fadeIn-1) {
  0% {
    @include transform($translateX-20);
    opacity: 0;
  }
  100% {
    @include transform($translateX-0);
    opacity: 1;
  }
}

@include keyframes(fadeIn-2) {
  0% {
    @include transform(translateY(200px));
    opacity: 0;
  }
  100% {
    @include transform($translateY-0);
    opacity: 1;
  }
}

@include keyframes(fadeIn-3) {
  0% {
    @include transform(translateY(50px));
    opacity: 0;
  }
  100% {
    @include transform($translateY-0);
    opacity: 1;
  }
}

.wrap.none {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  p {
    font-family: $font-family-KoPub;
    text-align: center;
  }
}

.portfolioBlock {
  .intro {
    position: relative;
    height: 100vh;
    min-height: 780px;
    overflow: hidden;

    .half {
      position: relative;
      display: flex;
      width: 50%;
      height: 100%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      box-sizing: border-box;
    }
  }

  /* 라인 */
  .lineBox {
    position: absolute;
    padding: 7rem 0 7rem 4.6rem;
    width: 50%;
    height: 100%;
    box-sizing: border-box;

    > div {
      position: relative;
      height: 100%;
    }
  }

  .line {
    @include animation(w100, 1.2s, $cubic-bezier-j, 0.6s, 1, forwards);

    position: absolute;
    background: #e2e2e2;
    display: inline-block;

    &.step1 {
      top: 0;
      right: 0;
      height: 1px;
    }

    &.step2 {
      @include animation(h100, 1.2s, $cubic-bezier-j, 0.6s, 1, forwards);

      top: 0;
      left: 0;
      width: 1px;
    }

    &.step3 {
      bottom: 0;
      left: 0;
      height: 1px;
    }

    &.step4 {
      @include animation(h100, 1.2s, $cubic-bezier-j, 0.6s, 1, forwards);

      display: none;
      bottom: 0;
      right: 0;
      width: 1px;
    }
  }

  /* 인트로 이미지 박스 */
  .introImg {
    float: right;

    a {
      margin-left: -45px;
      line-height: 0;
    }

    a img {
      @include transform($translateX-20);
      @include animation(fadeIn-1, 1s, ease, 0.2s, 1, forwards);

      opacity: 0;
      width: 380px;
      box-shadow: 45px 45px 0px #fff;
      cursor: pointer;
    }
  }

  .bg {
    @include animation(appear, 1.2s, $cubic-bezier-j, 0s, 1, forwards);

    position: absolute;
    top: -5%;
    right: -5%;
    width: 110%;
    height: 110%;
    z-index: -1;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.7;
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      filter: blur(12px);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  /* 인트로 텍스트 박스 */
  .introTxt {
    padding: 7rem 0 7rem 4.6rem;

    .txtWrap {
      padding: 0 4.6rem;
      width: 100%;
    }
  }

  h2 {
    position: relative;
    padding-bottom: 1.1rem;
    overflow: hidden;

    a {
      display: inline-block;
      overflow: hidden;
    }

    a span {
      @include transform($translateY-100);
      @include animation(y100, 1.2s, $cubic-bezier-j, 0.6s, 1, forwards);

      display: inline-block;
      font-size: 6rem;
      line-height: 1.2em;
      font-weight: 400;
      letter-spacing: -1px;
      cursor: pointer;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 10.5rem;
      height: 0.35rem;
      background: #373646;
      @include transform($translateX-m-100);
      @include animation(x-100, 1.2s, $cubic-bezier-j, 0.6s, 1, forwards);
    }
  }

  h3 {
    margin-top: 3em;
    overflow: hidden;

    a {
      @include transform($translateY-100);
      @include animation(y100, 1.1s, $cubic-bezier-j, 1s, 1, forwards);

      font-family: $font-family-KoPub;
      font-size: 1.1em;
      line-height: 1.5em;
      color: #222;
      cursor: pointer;
    }
  }

  .detailList {
    margin-top: 2rem;
    margin-right: -2rem;
    overflow: hidden;

    ul {
      @include transform($translateY-100);
      @include animation(y100, 1s, $cubic-bezier-j, 1.1s, 1, forwards);

      overflow: hidden;
    }
  }

  .detailList ul li {
    margin-top: 1em;
    padding-right: 2rem;
    width: 33.333%;
    float: left;
    line-height: 1.2rem;
    font-size: 1rem;
    font-family: $font-family-trump;
    letter-spacing: 0.07rem;

    span {
      display: block;
      color: #000;
    }

    span:nth-child(2) {
      font-family: $font-family-KoPub;
      font-size: 0.9rem;
      color: #aaa;
      letter-spacing: -0.01rem;
    }

    a {
      margin-bottom: 0.4rem;
      display: inline-block;
      word-break: break-all;
    }

    a span {
      display: inline;
      color: #6ea4b9;
      border-bottom: 1px solid #6ea4b9;
    }

    a:last-child {
      margin-bottom: 1px;
    }

    img {
      margin-top: 10px;
    }
  }

  /* 하단 이미지 */
  .contentBox {
    background: #f5f5f7;
  }

  .wrap {
    padding-top: 9rem;
    padding-bottom: 9rem;
    text-align: center;

    .buttonBox {
      margin-bottom: calc(30px + 1vw);
      text-align: left;
    }

    img {
      @include transform(translateY(14.8rem));

      margin: 0 auto;
      display: block;
      opacity: 0;
    }

    img.appear {
      @include animation(fadeIn-2, 1s, ease, 0s, 1, forwards);
    }
  }

  /* 미디어쿼리 */
  @include max-width-1280 {
    .intro .detailList ul li {
      width: 50%;

      span {
        font-size: 14px;
        line-height: 1.3em;
      }

      span:nth-child(2) {
        font-size: 12px;
      }
    }
  }

  @include max-width-1024 {
    .intro {
      height: unset;
      min-height: unset;

      .half {
        width: 100%;
      }

      .lineBox {
        position: absolute;
        top: calc(0.868em + 1.7vw);
        left: calc(0.868em + 1.7vw);
        right: calc(0.868em + 1.7vw);
        bottom: calc(0.868em + 1.7vw);
        width: auto;
        height: auto;
        padding: 0;
        align-items: flex-end;
        font-size: 16px;
      }

      .line.step4 {
        display: block;
      }

      .introImg {
        padding: 5rem 0 8.5rem;
        height: unset;
      }

      .introImg a {
        width: 25rem;
        margin-left: -3rem;
      }

      .introImg a img {
        box-shadow: 3rem 3rem 0px #fff;
      }

      .introTxt {
        position: unset;
        padding: calc(0.868em + 1.7vw);
        font-size: 16px;
      }

      .txtWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.7vw calc(0.868em + 1.7vw) calc(1em + 1.7vw);
        height: unset;
      }

      .txtWrap h3 {
        margin-top: 3.5rem;
      }

      .txtWrap h3 a {
        font-size: 0.8em;
      }
    }

    .intro .detailList ul li {
      width: 33.333%;
    }

    .wrap {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  @include max-width-480 {
    .detailList ul {
      @include transform($translateY-20);
      @include animation(fadeIn-3, 1s, ease, 1.25s, 1, forwards);

      opacity: 0;
    }

    .intro .detailList ul li {
      margin-top: 2rem;
      width: 50%;

      &:nth-child(3n + 1) {
        clear: unset;
      }

      span:nth-child(2) {
        letter-spacing: -0.03rem;
      }
    }

    .intro .txtWrap {
      height: 60%;
    }

    .wrap img.appear {
      @include animation(fadeIn-3, 1s, ease, 0s, 1, forwards);
    }
  }
}
